<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="save" content="history">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}" type="text/css" charset="utf-8"/>
    <script type="text/javascript">
      function keydown_event(key){
        var a=key
      }
      function keyup_event(key){
        var a=key
      }
    </script>
    <style type="text/css">
      html {
        height: 100%;
        width:  100%;
        overflow: hidden;
      }
      body {
	font-family: "ubunturegular", Times, serif;
        height: 100%;
        width:  100%;
        background-color: black;
	background-image: {{url_for('static', filename='Core.png')}}
      }
      #div_appbar {
        width:  100%;
      }
      #div_streamer {
        background: url(http://{{host}}:8765/mjpg) no-repeat center top; 
        background-size: auto 100%;
        background-color: 0;
	top: 0;
        left: 15%;
        width:  70%;
        height:  100%;
        position: fixed;
      }

      #div_controls_left {
        background-color: black;
        color: white;
	top: 0;
        left: 0;
        width: 15%;
        height: 100%;
        position: fixed;
      }
      #div_controls_right {
        background-color: black;
	color: white;
	top: 0;
        right: 0;
        width: 15%;
        height: 100%;
        position: fixed;
      }
      #dev_streamer_canonical {
        
        width: 100%;
        height: 100%;
        position: relative;
      }
      #div_control {
        width:  100%;
        position: absolute;
        bottom: 0;
      }
      #button_opacity {
        opacity: 0.4;
      }
      table {
	position: absolute;
	height: 100%;
	width: 100%;
     }
     td {
	text-align: center;
	vertical-align: top;
	align-items: center;
	align-content: center;
     }
     #stop {
	height: 25px;
	width: 60px;
	background-color: red;
	border-radius: 15px;
	border: 4px solid #FFFFFF;
     }
     #forward1, #backward1 {
	height: 25px;
	width: 75px;
	background-color: black;
	border-radius: 15px;
	border: 4px solid #FFFFFF;
     }
     #forward2, #backward2 {
	height: 25px;
	width: 90px;
	background-color: black;
	border-radius: 15px;
	border: 4px solid #FFFFFF;
     }
     #forward3, #backward3 {
	height: 25px;
	width: 105px;
	background-color: black;
	border-radius: 15px;
	border: 4px solid #FFFFFF;
     }
      #triangle-down {
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 35px solid orange;
    }
    #triangle-up {
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 35px solid green;
    }
    </style>
  </head>

    <script type="text/javascript">
      // Depending on how you built the buggy, the forward and backward may be
      // inverted. If so, select 1, otherwise 0
      var inverted = 1;
      var socket = new WebSocket('ws://' + location.hostname + ':5001/socket');
      var cam_socket = new WebSocket('ws://' + location.hostname + ':5002/cam_socket');
 
      // This is our initialization routine, needs to happen after the page is loaded
      function initialize() {
     	// Disables the contextual menu on long touches
        // Disable that code if you need to debug
     	window.oncontextmenu = function(event) {
     	   event.preventDefault();
     	   event.stopPropagation();
     	   return false;
     	};

        console.log('initializing sockets');
        // Won't do anything, we just want the sockets open
        socket.onopen = () => socket.send('{"action":"camera", "orientation":"up","speed":0}');
        cam_socket.onopen = () => cam_socket.send('{"vertical":"none", "horizontal":"none"}');

        // The background also needs to be reset to the camera feed
        var streaming_url = 'http://' + location.hostname + ':8765/mjpg';
        console.log('resetting background to ' +  streaming_url);
	document.getElementById('div_streamer').style.background="url('" + streaming_url + "') no-repeat center top"; 
        document.getElementById('div_streamer').style.backgroundSize="auto 100%";
        console.log('done');
     }

      function run_action(value){
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = window.location.pathname;
        url = protocol + "//" + host + pathname + "?action" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }
      function set_speed(value){
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = window.location.pathname;
        url = protocol + "//" + host + pathname + "?speed" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }

      // This function enables us to use the keyboard instead of the GUI to control
      var previousSpeed = 100;
      function keydown_event(key){
        if (event.repeat != undefined) {
          allowed = !event.repeat;
        }
        if (!allowed) return;
        allowed = false;
        if (key == 0){
          var x;
          if(window.event) { // IE8 以及更早版本
            x=event.keyCode;
          }
          else if(event.which) {// IE9/Firefox/Chrome/Opera/Safari
            x=event.which;
          }
          var keychar=String.fromCharCode(x);
        }
        else{
          keychar = key
        }
        switch(keychar){
          case 'D': // As in Drive
            move3('forward', 'straight', previousSpeed);
            break;
          case 'R': // As in Reverse
            move3('backward', 'straight', previousSpeed);
            break;
          case 'L': // As in Left
            move3('forward', 'left', previousSpeed); 
            break;
          case 'T': // As in righT
            move3('forward', 'right', previousSpeed);
            break;
          case 37: // Key left
            cammove('0', 'left');
            break;
          case 38: // Key up
            cammove('up', '0');
            break;
          case 39: // Key right
            cammove('0', 'right');
            break;
          case 40: // Key down
            cammove('down', '0');
            break;
          case '1':
            previousSpeed = 40;
            break;
          case '2':
            previousSpeed = 60;
            break;
          case '3':
            previousSpeed = 80;
            break;
          case '4':
            previousSpeed = 100;
            break;
        }
      }
      function keyup_event(key){
        allowed = true;
        if (key == 0){
          var x;
          if(window.event) { // IE8 以及更早版本
            x=event.keyCode;
          }
          else if(event.which) {// IE9/Firefox/Chrome/Opera/Safari
            x=event.which;
          }
          var keychar=String.fromCharCode(x);
        }
        else{
          keychar = key
        }
        switch(keychar){
          case 'D':
          case 'R':
          case 'L':
          case 'T':
            move3('stop', 'straight', 0);
            break;
          case 37:
          case 38:
          case 39:
          case 40:
            cammove('reset','0');
            break;
        }
      }


    var lastMovement = 0;
    var timeOut = 200;

    function sleep (time) {
	setTimeout(function() { console.log('waited');}, timeOut);
    }

    function sequentialLightsUp(movement) {
	for (var i=1; i <= movement && i < 4; i++){
		var target = document.getElementById("forward" + i);
		target.style.backgroundColor = "green";
		//sleep(200);
        }	
		 
    }
	
    function sequentialLightsDown(movement) {
    	for (var i=-1; i >= movement && i > -4; i--) {
		var target = document.getElementById("backward" + (i*-1));
		target.style.backgroundColor = "orange";
		sleep(200);
	}
		
    }


    function sequentialLightUpClose(){
	for (var i=3; i > 0; i--){
		var target = document.getElementById("forward" + i);
		target.style.backgroundColor = "black";
		sleep(200);
	}
    }

    function sequentialLightDownClose(){
	for (var i=-3; i < 0; i++){
		var target = document.getElementById("backward" + (i*-1));
		target.style.backgroundColor = "black";
		sleep(200);
	}
    }

    var semaphore = 0; // Only process one command at a time

    // This function communicates to the Core Car what to do for driving
    // It is implemented via Websockets
    // Problem: if a user or a browser multiplies the calls to this
    // function, it will clog our socket and cause the board to
    // go to la-la-land
    // Solution: have a in_motion semaphore. 0 when stopped, 1 otherwise
    // Use this to mimimize communication
    var in_motion = 0;
    function move3(action, orientation, speed) {
       if (((action == 'forward' || action == 'backward') && speed && in_motion) || ((action == 'reset' || action == 'stop') && (!speed && !in_motion))){
          // Here, the vehicle is moving and we want to move it, 
          // or it is stopped and we want it to stop again
          // We don't need to do anything
          console.log('skipping ' + action + ' ' + speed);
          return;
       }
       if (action == 'forward' || action == 'backward' || action == 'reset' || action == 'stop'){
          if(speed) in_motion = 1;
          else in_motion = 0;
       }
       var myDict = {'action':action, 'orientation':orientation, 'speed':speed};
       // If inverted, deal with it here
       if (inverted){
          if (myDict['action'] == 'forward') myDict['action'] = 'backward';
          else myDict['action'] = 'forward';
       }
       var myString = JSON.stringify(myDict);
       console.log('sending '+ myString);
       if (socket.readyState != 1) socket.onopen = () => {socket.send(myString);}
       else socket.send(myString);
       console.log('done')
       
    }
    // Does it do anything?
    move3('camera','reset',0);

    // This function controls the camera
    // There seems to be a LOT LESS instability on the low-level drivers here
    // so we should not need any semaphores
    function cammove(vertical, horizontal) {
       var myDict = {'vertical':vertical, 'horizontal':horizontal};
       var myString = JSON.stringify(myDict);
       console.log('sending '+ myString);
       if (cam_socket.readyState != 1) cam_socket.onopen = () => {cam_socket.send(myString);}
       else cam_socket.send(myString);
       console.log('done')
    }   
    
</script>

<body onload='initialize()' onkeydown="keydown_event(0)" onkeyup="keyup_event(0)">
    
<script type="text/javascript">
      	// This needs to be called from here otherwise the cam is never being shown
	/*run_action('setup');
      	run_action('bwready');
      	run_action('fwready');
      	run_action('camready');*/
      	var allowed = true;
	
     	/*// Disables the contextual menu on long touches
     	window.oncontextmenu = function(event) {
     	event.preventDefault();
     	event.stopPropagation();
     	return false;
     	}*/
	//document.getElementById('splash').style.visibility = 'hidden';
	//console.log('trying sockets');
	/*var socket = new WebSocket('ws://' + location.hostname + ':5001/socket');
        socket.onopen = () => socket.send(JSON.stringify([{'target':'camera','action':'up' }]));
        socket.onopen = () => socket.send(JSON.stringify([{'target':'camera','action':'down' }]));
      	move2('motion',0,'reset');*/
        //var speed_socket = new WebSocket('ws://' + location.hostname + ':5001/set_speed');
     </script>

<div id="div_controls_left">
<table border="0">
	<tr><td>
		<img src="{{url_for('static', filename='Core.png')}}" style="position:relative; width: 100%; height:auto;">	
		<h2>Core Car</h2>
	</td></tr>
	<tr><td><h3>Camera</h3>
	<table border="0" style="position: relative; height: 180px;">
	<tr>
		<td><img src="{{url_for('static', filename='up-left.png')}}" onmousedown="cammove('up', 'left');" ontouchstart="cammove('up','left');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
		<td><img src="{{url_for('static', filename='up.png')}}" onmousedown="cammove('up', 0);" ontouchstart="cammove('up',0);" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
		<td><img src="{{url_for('static', filename='up-right.png')}}" onmousedown="cammove('up', 'right');" ontouchstart="cammove('up','right');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
	</tr><tr>
		<td><img src="{{url_for('static', filename='left.png')}}" onmousedown="cammove('0', 'left');" ontouchstart="cammove('0','left');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
		<td><img src="{{url_for('static', filename='camera.png')}}" onmousedown="cammove('reset', '0');" ontouchstart="cammove('reset','0');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
		<td><img src="{{url_for('static', filename='right.png')}}" onmousedown="cammove('0', 'right');" ontouchstart="cammove('0','right');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
	</tr><tr>
		<td><img src="{{url_for('static', filename='down-left.png')}}" onmousedown="cammove('down', 'left');" ontouchstart="cammove('down','left');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
		<td><img src="{{url_for('static', filename='down.png')}}" onmousedown="cammove('down', 0);" ontouchstart="cammove('down',0);" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
		<td><img src="{{url_for('static', filename='down-right.png')}}" onmousedown="cammove('down', 'right');" ontouchstart="cammove('down','right');" onmouseup="cammove('reset', 0);" onmouseout=="cammove('reset', 0);" ontouchend=="cammove('reset', 0);" width="40" height="40"></td>
	</tr></table>
	</td></tr>
	<tr><td><a href="https://www.flaticon.com/free-icons/down" title="down icons">Down icons created by Freepik - Flaticon</a></td></tr>
</table>
</div>
<div id="div_streamer"></div>
<div id="div_controls_right">
<table border="0">
	<tr><td><h3>Based on<br>SunFounder's<br>PiCar-V</h3></td></tr>
	<tr><td style="vertical-align: top;">
	<h3>Speed</h3>
	<center>

		<table border=0 style="width: 100%; height:0;"><tr>
		<td> <div onmousedown="move3('forward','left', 100);" ontouchstart="move3('forward','left',100);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" >L</div></td>
		<td align="center"><center><div id="triangle-up" onmousedown="move3('forward','straight', 100);" ontouchstart="move3('forward','straight',100);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<td><div onmousedown="move3('forward','right', 100);" ontouchstart="move3('forward','right',100);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>
		</tr></table><br><br><br>

		<table border=0 width="100%"><tr>
		<td><div onmousedown="move3('forward','left', 80);" ontouchstart="move3('forward','left',80);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" >L</div></td>
		<td align="center"><center><div id="forward3" onmousedown="move3('forward','straight', 80);" ontouchstart="move3('forward','straight',80);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<td><div onmousedown="move3('forward','right', 80);" ontouchstart="move3('forward','right',80);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>
		</tr></table><br><br><br>

		<table border=0 width="100%"><tr>
		<td><div onmousedown="move3('forward','left', 60);" ontouchstart="move3('forward','left',60);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" >L</div></td>
		<td align="center"><center><div id="forward2" onmousedown="move3('forward','straight', 60);" ontouchstart="move3('forward','straight',60);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<td><div onmousedown="move3('forward','right', 60);" ontouchstart="move3('forward','right',60);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>
		</tr></table><br><br><br>

		<table border=0 width="100%"><tr>
		<td><div onmousedown="move3('forward','left', 40);" ontouchstart="move3('forward','left',40);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" >L</div></td>
		<td align="center"><center><div id="forward1" onmousedown="move3('forward','straight', 40);" ontouchstart="move3('forward','straight',40);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<td><div onmousedown="move3('forward','right', 40);" ontouchstart="move3('forward','right',40);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>
		</tr></table><br><br><br>
		
		<div id="stop" align="center" onmousedown="move3('stop','straight',0);" ontouchstart="move('stop','straight',0);"></div><br>
                
                <!-- On reverse, trying to turn the wheels tend to cause the low-level code to go to la-la-land
                     This is why it is disabled -->
		<table border=0 width="100%"><tr>
		<!--<td><div onmousedown="move3('backward','left', 40);" ontouchstart="move3('backward','left',40);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">L</div></td>-->
		<td align="center"><center><div id="backward1" onmousedown="move3('backward','straight', 40);" ontouchstart="move3('backward','straight',40);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<!--<td><div onmousedown="move3('backward','right', 40);" ontouchstart="move3('backward','right',40);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>-->
		</tr></table><br><br><br>

		<table border=0 width="100%"><tr>
		<!--<td><div onmousedown="move3('backward','left', 60);" ontouchstart="move3('backward','left',60);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);>L</div></td>-->
		<td align="center"><center><div id="backward2" onmousedown="move3('backward','straight', 60);" ontouchstart="move3('backward','straight',60);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<!--<td><div onmousedown="move3('backward','right', 60);" ontouchstart="move3('backward','right',60);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>-->
		</tr></table><br><br><br>

		<table border=0 width="100%"><tr>
		<!--<td><div onmousedown="move3('backward','left', 80);" ontouchstart="move3('backward','left',80);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);>L</div></td>-->
		<td align="center"><center><div id="backward3" onmousedown="move3('backward','straight', 80);" ontouchstart="move3('backward','straight',80);" ontouchend="move3('stop','straight',80);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<!--<td><div onmousedown="move3('backward','right', 80);" ontouchstart="move3('backward','right',80);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>-->
		</tr></table><br><br><br>

		<table border=0 width="100%"><tr>
		<!--<td><div onmousedown="move3('backward','left', 100);" ontouchstart="move3('backward','left',100);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);>L</div></td>-->
		<td align="center"><center><div id="triangle-down"  onmousedown="move3('backward','straight', 100);" ontouchstart="move3('backward','straight',100);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);" align="center"></div></center></td>
		<!--<td><div onmousedown="move3('backward','right', 100);" ontouchstart="move3('backward','right',100);" ontouchend="move3('stop','straight',0);" onmouseup="move3('stop','straight',0);" onmouseout="move3('stop','straight', 0);">D</div></td>-->
		</tr></table><br><br><br>

	</center>
	</td></tr>
	<tr><td style="height: 18%;"></td></tr>
</table>
</div> 
</body>
</html>
